body {
    font-family: Arial;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background: linear-gradient(-45deg, #4f4f4f, #515050, #959696, #afb6b4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

button {
    font-size: 17px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    border: none;
}

.buttontodo {
    margin-left: 10px;
}

input[type='text'] {
    border-radius: 5px;
    border: none;
    padding: 5px;
}

button:hover {
    background-color: #707070;

}

.mensajeImportante {
    color: red;
    font-weight: bold;
    padding: 10px;
    display: none;
}

.container {
    width: 50%;
    max-width: 600px;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: rgb(35, 35, 35);
    color: white;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    width: auto;
    word-wrap: break-word;
}

.title {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);

}